<div class = "landing-overlay-content">
	<div class="login-about">foodstream is for people who believe edible food should be eaten</div>

	<input type='text' ng-model='username' placeholder="login email" class='landing-login-email-input'>

	<input type='password' ng-model='password' placeholder="password" class='landing-login-password-input'>

	<div class='landing-login-btn' ng-click='submitLogin()'>Log In</div>
	<div class='landing-signup-btn' ng-click='submitSignup()'>New? Sign Up</div>

	<a href='http://www.feedingamerica.org/ways-to-give/give-food/become-a-product-partner/protecting-our-food-partners.html' class = "login-legal">Legal stuff
</a>
</div>
