<div class = "profile-public-content-wrapper">
	<div class="profile-public-info">

		<!-- <div class="profile-pub-picture"> -->
			<!-- <img src = "/assets/images/food-thumbnail.jpg" width="250"> -->
			  <img class='profile-pub-picture' ng-src = "{{profilePic}}" width = "500px"></img>
		<!-- </div> -->

		<div class="profile-pub-name">
			<div class="profile-pub-firstname">FirstName</div>
			<div class="profile-pub-lastname">LastName</div>
		</div>

		<div class="profile-pub-data">
			<div class="profile-pub-org">Organization</div>
			<div class="profile-pub-location">Address</div>

				  Average rating:
				  <div class = "actual-stars" star-rating rating="myRating" read-only="true" max-rating="5"></div>

		</div>

		<div class="profile-pub-about">
			Lorem ipsum dolor sit amet, aenean purus. Tortor suscipit ullamcorper orci wisi neque curabitur. Consequat lorem mauris eros cursus odio, pellentesque mollis semper elit nam in.
		</div>
	</div>
</div>

<div class="profile-pub-footer">
	<div class="profile-pub-home">Home</div>
	<div class="profile-pub-back">Back</div>
</div>
