<div id='search-results-subheader'>
  <input id='search-results-search' placeholder='Search Available Posts' ng-model='type'></input>


  <div id='search-results-subheader-text'>
    Search for food within
    <input id= "search-results-distance-input" ng-model='distanceInput' ng-keypress="searchEnter($event)"></input>
    mi. of me
    <div id='search-results-subheader-search-button' ng-click='search()' >
      Search
      <i class="fa fa-search"></i>
    </div>
  </div>
</div>


<div class='search-results-content-wrapper'>

<div ng-show = "loadingIcon" class = "search-results-loading-icon">
  <i class="fa fa-cog fa-spin fa-4x fa-fw margin-bottom"></i>
  <span class="sr-only">Loading search results...</span>
</div>

  <div  ng-repeat='post in posts | orderBy : "end_at" | filter:type' >
    <div class = "results-card">
      <div class = "results-header">
        <div class = "results-card-title">
          {{post.title}}
        </div>
        <div class = "results-card-end">
          {{post.end_at}}
        </div>
      </div>


      <div class='results-pic-wrap'>
        <img class='results-add-picture' src = "{{post.post_image}}"></img>
      </div>



      <div class = "results-transaction-details">
        <div class='results-supplier-name-text'>
          {{post.supplier.first_name}} {{post.supplier.last_name}}<br>{{post.supplier.organization}}
        </div>
        <div class='results-transaction-location'>
          {{post.address_string}}
        </div>
        <div class='results-transaction-details-text'>
          {{post.details}}
        </div>
      </div>



    <div class = "results-details" ng-click='getDetails(post.id)'>
      <i class="fa fa-info-circle">
        <span class='search-details-text'>details</span>
      </i>
    </div>
  </div>

  </div>
</div>


<div class='results-footer' ng-click='goHome()'>
  Home
</div>
