<div class = "landing-overlay-content">
<div class = "sign-up-title">Sign up</div>


  <div class = "sign-up-form">
    <!-- <label class = "sign-up-label">Email</label> -->
    <input class = "sign-up-input" ng-model= "email" placeholder="Email"></input>

    <!-- <label class = "sign-up-label">Organization Name</label> -->
    <input class = "sign-up-input" ng-model = "organization" placeholder="Organization"></input>

    <!-- <label class = "sign-up-label">Password</label> -->
    <input class = "sign-up-input" input type="password" placeholder="Password"></input>

    <!-- <label class = "sign-up-label">Confirm Password</label> -->
    <input class = "sign-up-input" input type="password" ng-model = "password" placeholder="Confirm Password"></input>
  </div>
    <div class='sign-up-submit-btn' ng-click='submit()'>Sign Up!</div>

<div class='sign-up-back-btn' ng-click='backToLogin()'>
  Back to Login
</div>
</div>
