.claimed-title {
  font-size: 2em;
  margin: 12.5% 0 0 0;
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: lighten($headerbg, 35%);
  z-index: 9999999;
  height: 5%;
  // color: darken($headerbg, 20%);
  // @media screen and (min-width: $break-large) {
  //     margin-top: 5%;
  //     padding: .5% 0 .2% 0;
  //     font-size: 2em;
  //     font-weight: 600;
  // }
}
.claimed-content-wrapper{
  margin-top: 21.5%;
  height: 82vh;
  overflow: scroll;
  position: absolute;
  width: 100%;
  // @media screen and (min-width: $break-large) {
  //     margin-top: 9%;
  // }
  .claimed-supplier-name-wrap {
    width: 100%;
    font-size: 1.2em;
    margin: 2% 0 0 0;
    // @media screen and (min-width: $break-large) {
    //     font-size: 3em;
    //     margin: 1% 0 0 22%;
    // }
    .claimed-supplier-name{
      display: inline-block;
      width: 49%;
      padding: 0 0 0 2%;
      // @media screen and (min-width: $break-large) {
      //     font-size: .5em;
      //     line-height: 1em;
      //     width: 26%;
      // }
      span{
        font-size: .75em;
        font-weight: 700;
        display: block;
        // @media screen and (min-width: $break-large) {
        //     font-size: 1em;
        // }
      }
    }
    .claimed-supplier-org{
      display: inline-block;
      width: 46%;
      // @media screen and (min-width: $break-large) {
      //     font-size: .5em;
      //     line-height: 1em;
      //     width: 30%;
      // }
      span{
        font-size: .75em;
        font-weight: 700;
        display: block;
        // @media screen and (min-width: $break-large) {
        //     font-size: 1em;
        // }
      }
    }
  }

    .claimed-images{
      margin: 2% 0 0 0;
      width: 100%;
      display: block;
      // border: solid thin black;
      // @media screen and (min-width: $break-large) {
      //       margin: 0 0 0 27%;
      // }
      #claimed-map{
        width: 170px;
        height: 170px;
        margin: 2% 0 2% 2%;
        display: inline-block;
        // @media screen and (min-width: $break-large) {
        //     height: 300px;
        //     width: 300px;
        //     margin: 0;
        //     position: absolute;
        //     top: 47%;
        //     left: 1%;
        //
        // }
      }
      .claimed-post-photo{
        width: 170px;
        height: 170px;
        margin: 2% 0 2% 2%;
        display: inline-block;
        // @media screen and (min-width: $break-large) {
        //     height: 300px;
        //     width: 300px;
        //     // margin: 1% 0 0 2%;
        //     position: absolute;
        //     top: -4%;
        //     left: -1%;
        // }
      }
    }
    .claimed-buttons-wrap{
      width: 100%;
      display: block;
      height: 15%;
      border: solid thin darken($border, 20%);
      color: darken($border, 30%);
      margin: 3% 0 0 0;
      // @media screen and (min-width: $break-large) {
      //     width: 75%;
      //     position: absolute;
      //     bottom: 8%;
      //     left: 23%;
      // }
      .claimed-calendar{
        display: inline-block;
        width: 32%;
        height: 100%;
        text-align: center;
        border-right: solid thin darken($border, 20%);
        height: 100%;
        font-size: 1em;
        // @media screen and (min-width: $break-large) {
        //     font-size: 1.25em;
        //     cursor: pointer;
        //     &:hover{
        //       color: darken($border, 50%);
        //     }
        // }
        .fa-calendar-plus-o{
          margin: 5% 0 4% 0;
          display: block;
          font-size: 2.5em;
          // @media screen and (min-width: $break-large) {
          //     font-size: 1.25em;
          //     margin: 4% 0 2% 0;
          // }
        }
      }
      .claimed-chat{
        display: inline-block;
        width: 32%;
        height: 100%;
        text-align: center;
        border-right: solid thin darken($border, 20%);
        height: 100%;
        font-size: 1em;
        // @media screen and (min-width: $break-large) {
        //     font-size: 1.25em;
        //     cursor: pointer;
        //     &:hover{
        //       color: darken($border, 50%);
        //     }
        // }
        .fa-comment{
          margin: 5% 0 4% 0;
          display: block;
          font-size: 2.5em;
          // @media screen and (min-width: $break-large) {
          //     font-size: 1.25em;
          //     margin: 4% 0 2% 0;
          // }
        }
      }
      .claimed-directions{
        color: darken($border, 30%);
        display: inline-block;
        width: 32%;
        height: 100%;
        text-align: center;
        height: 100%;
        text-decoration: none;
        font-size: 1em;
        // @media screen and (min-width: $break-large) {
        //     font-size: 1.25em;
        //     cursor: pointer;
        //     &:hover{
        //       color: darken($border, 50%);
        //     }
        // }
        .fa-google{
          margin: 5% 0 4% 0;
          display: block;
          font-size: 2.5em;
          // @media screen and (min-width: $break-large) {
          //     font-size: 1.25em;
          //     margin: 4% 0 2% 0;
          // }
        }
      }
    }
    .claimed-time-wrap{
      display: block;
      width: 96%;
      font-size: 1.2em;
      margin: 2% 0 0 2%;
      // @media screen and (min-width: $break-large) {
      //     width: 75%;
      //     margin: 1% 0 0 23%;
      //     font-size: 1em;
      //     position: absolute;
      //     bottom: 27.5%;
      // }
      .claimed-start{
        width: 49%;
        display: inline-block;
        // @media screen and (min-width: $break-large) {
        //     font-size: 2em;
        //     width: 35%;
        // }
        span{
          display: block;
          font-weight: 700;
          font-size: .75em;
        }
      }
      .claimed-end{
        width: 49%;
        display: inline-block;
        // @media screen and (min-width: $break-large) {
        //     font-size: 2em;
        //     width: 35%;
        // }
        span{
          display: block;
          font-weight: 700;
          font-size: .75em;
        }
      }
    }
    .claimed-location{
      width: 95%;
      font-size: 1.2em;
      margin: 2% 0 0 2%;
      display: block;
      // @media screen and (min-width: $break-large) {
      //     margin: 5% 0 1% 23%;
      //     font-size: 2.5em;
      //     width: 75%;
      //     position: absolute;
      //     bottom: 40%;
      // }
      span{
        display: block;
        font-size: .75em;
        font-weight: 700;
      }
    }
    .claimed-details{
      font-size: 1.2em;
      margin: 2% 0 0 2%;
      display: block;
      // @media screen and (min-width: $break-large) {
      //     font-size: 2.5em;
      //     margin: 1% 3% 0 24%;
      //     width: 75%;
      // }
      span{
        display: block;
        font-size: .5em;
        font-weight: 700;
      }
    }
  }

.claimed-bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 300;
  color: white;
  cursor: pointer;
  background-color: $buttonbg;
  cursor: pointer;
  // @media screen and (min-width: $break-large) {
  //     font-size: 2em;
  //     font-weight: 600;
  //     line-height: 1.75em;
  // }
  &:hover{
    background-color: darken($buttonbg, 5%);
  }
}

.claimed-remove-button {
  position: fixed;
  bottom: 0;
  width: 50%;
  left: 50%;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 300;
  color: white;
  cursor: pointer;
  background-color: $buttonaccent2;
  cursor: pointer;
  // @media screen and (min-width: $break-large) {
  //     font-size: 2em;
  //     font-weight: 600;
  //     line-height: 1.75em;
  // }
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
}
