.edit-profile-subheader{
  background-color: lighten($headerbg, 35%);
  width: 100vw;
  height: 5%;
  display: block;
  // color: darken($headerbg, 10%);
  position: fixed;
  top: 7%;
  text-align: center;
  font-size: 1.5em;
  // margin-top: 12%;
  z-index: 999;
  // @media screen and (min-width: $break-large) {
  //       font-size: 2em;
  //       top: 9%;
  // }
}
.edit-profile-top-btn-wrap{
  position: fixed;
  top: 12%;
  width: 100%;
  border: solid thin $border;
  display: block;
  height: 3%;
  font-size: .75em;
  background-color: lighten($border, 4%);
  z-index: 999;
  // @media screen and (min-width: $break-large) {
  //     top: 14%;
  //     font-size: 1.25em;
  //     // padding-top: .5%;
  // }
  .edit-profile-change-email{
    display: inline-block;
    width: 33%;
    height: 100%;
    border-right: solid thin darken($border, 5%);
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: lighten($border, 2%);
    }
  }
  .edit-profile-change-password{
    display: inline-block;
    height: 100%;
    width: 33%;
    border-right: solid thin darken($border, 5%);
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: lighten($border, 2%);
    }
  }
  .edit-profile-logout-btn{
    display: inline-block;
    height: 100%;
    width: 31%;
    text-align: center;
    cursor: pointer;
    &:hover{
      background-color: lighten($border, 2%);
    }
  }
}
.edit-profile-content-wrapper {
  margin-top: 29%;
  overflow: scroll;
  width: 100%;
  height: 73vh;
  // border: solid thin black;
  color: lighten(black, 35%);
  // @media screen and (min-width: $break-large) {
  //     margin-top: 9.5%;
  //     height: 75vh;
  // }
  .edit-profile-image{
    margin: 2% 0 2% 25%;
    height: 200px;
    width: 200px;
  //   @media screen and (min-width: $break-large) {
  //   height: 200px;
  //   width: 200px;
  //   display: inline-block;
  //   margin: 2% 0 2% 20%;
  // }
  }

  .edit-profile-rating{
    width: 100%;
    text-align: center;
    font-size: 1em;
    // @media screen and (min-width: $break-large) {
    //     font-size: 2em;
    //     width: 60%;
    //     display: inline-block;
    //     // margin: -10% 0 0 0;
    //     position: absolute;
    //     top: 19%;
    //     left: 25%;
    // }
    .actual-stars {
      font-size: 1em;
      color: lighten(black, 35%);
    }
  }
  .edit-profile-add-image{
    border: solid 3px $border;
    width: 95%;
    background-color: lighten($border,3%);
    color: white;
    color: lighten(black, 35%);
    text-align: center;
    font-size: 1em;
    line-height: 1.2em;
    margin: 2% 0 0 2.5%;
    // @media screen and (min-width: $break-large) {
    //     margin: 0  0 0 3%;
    //     padding: 1% 0;
    //     font-size: 2em;
    //     display: inline-block;
    //     width: 42%;
    //     position: absolute;
    //     top: 35%;
    //     left: 35%;
    // }
  }
  .edit-profile-first-name{
    margin: 2% 0 2% 2%;
    width: 40vw;
    font-size: 1em;
    border: solid thin darken($border, 5%);
    // @media screen and (min-width: $break-large) {
    //     font-size: 1.5em;
    //     width: 28vw;
    //     margin: 2% 1% 2% -14.2%;
    //     position: absolute;
    //     top: 45%;
    // }
  }
  .edit-profile-last-name{
    margin: 2% 0 0 2%;
    width: 40vw;
    font-size: 1em;
    border: solid thin darken($border, 5%);
    // @media screen and (min-width: $break-large) {
    //     font-size: 1.5em;
    //     width: 28vw;
    //     position: absolute;
    //     top: 45%;
    //     right: 19.3%;
    // }
  }
  .edit-profile-organization{
    margin: 2%;
    width: 96vw;
    font-size: 1em;
    border: solid thin darken($border, 5%);
    // @media screen and (min-width: $break-large) {
    //     font-size: 1.5em;
    //     width: 60vw;
    //     margin-left: 20%;
    //     margin: 4% 0 1% 20%;
    // }
  }
  .edit-profile-location{
    margin: 2%;
    width: 96vw;
    font-size: 1em;
    border: solid thin darken($border, 5%);
    // @media screen and (min-width: $break-large) {
    //     font-size: 1.5em;
    //     width: 60vw;
    //     margin: 1% 0 1% 20%;
    // }
  }
  .edit-profile-description{
    display: block;
    margin: 2%;
    width: 96vw;
    height: 18vh;
    font-size: 1em;
    border: solid thin darken($border, 5%);
    // @media screen and (min-width: $break-large) {
    //     font-size: 1.5em;
    //     width: 60vw;
    //     margin: 1% 0 1% 20%;
    // }
  }
}
#file-input-edit-profile{
  display: none;
}

.edit-profile-footer{
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: $buttonaccent2;
  z-index: 999;
  position: fixed;
  text-align: center;
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  cursor: pointer;
  font-weight: 200;
  // @media screen and (min-width: $break-large) {
  //     font-size: 2em;
  //     font-weight: 600;
  //     line-height: 1.75em;
  // }
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
}

.edit-profile-upload-verify {
  // @media screen and (min-width: $break-large) {
  //   position:absolute;
  //   top: 30%;
  //   left: 31.5%;
  //   width: 50%;
  // }
  .fa-check-square-o{
    color: $buttonaccent2;
    font-size: 1.2em;
    margin-left: 30%;
    display: inline;
    // @media screen and (min-width: $break-large) {
    //   font-size: 1.5em;
    // }
  }
  div {
    display: inline;
    font-size: 1em;
    // @media screen and (min-width: $break-large) {
    //   font-size: 2em;
    // }
  }
}
