.post-detail-title {
  font-size: 4em;
  font-weight: 700;
  margin: 5% 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 4.3%;
  background-color: lighten($headerbg, 35%);
  height: 5%;
  z-index: 999;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: $break-large) {
        position: fixed;
        top: 65px;
        line-height: .75em;
        margin-top: 0;
        // color: darken($headerbg, 10%);
        padding: 1.5% 0 0 0;
        font-size: 1.75em;
  }
}

.post-detail-content-wrapper{
  width: 100%;
  position: absolute;
  top: 12.5%;
  height: 82vh;
  @media screen and (min-width: $break-large) {

  }
  .post-detail-supplier-wrap{
    margin: 2% 0;
    width: 100%;
    display: block;
    font-size: 5em;
    // border: solid thin black;
    @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        margin: 2% 0 1% 25%;
        width: 70%;

    }
    .post-detail-supplier-name {
      width: 47%;
      display: inline-block;
      margin: 0 0 0 2%;
      // border: solid thin black;
      @media screen and (min-width: $break-large) {
        //   margin: 2% 0 0 30%;
          width: 35%;
          margin: -4% 0 0 0;
      }
      span {
        font-weight: bold;
        font-size: .75em;
        display: block;
        @media screen and (min-width: $break-large) {
          margin: 0 0 2.5% 0;
        }
      }
    }
    .post-detail-org{
      width: 49%;
      display: inline-block;
      // border: solid thin black;
      @media screen and (min-width: $break-large) {
        //   width: 20%;
      }
      span {
        font-weight: bold;
        font-size: .75em;
        display: block;
      }
    }
  }
  .post-detail-details{
    width: 96%;
    display: block;
    font-size: 4em;
    margin: 2% 0 2% 2%;
    // border: solid thin black;
    @media screen and (min-width: $break-large) {
        font-size: 2.5em;
        margin: 0 0 1% 25%;
        width: 74%;

    }
    span{
      display: block;
      font-weight: bold;
      font-size: .75em;
    }
  }
  .post-detail-images{
    display: block;
    width: 100%;
    .post-detail-img{
      height: 450px;
      width: 450px;
      display: inline-block;
      // margin: 2%;
      margin: 0 2%;
      @media screen and (min-width: $break-large) {
        height: 300px;
        width: 300px;
        margin: 0 6% 0 2%;
        position: absolute;
        top: 5%;
        left: 1%;
      }
    }
    #post-detail-map{
      height: 450px;
      width: 450px;
      display: inline-block;
      @media screen and (min-width: $break-large) {
          height: 300px;
          width: 300px;
          position: absolute;
          top: 52%;
          left: 3%;
      }
    }
  }
  .post-detail-location{
    display: block;
    width: 96%;
    margin: 2% 0 2% 2%;
    font-size: 4em;
    font-weight: normal;
    @media screen and (min-width: $break-large) {
      margin: 2% 0 5% 2%;
      font-size: 2em;
      position: absolute;
      top: 52%;
      left: 23%;
    }
    span{
      display:block;
      font-size: .75em;
      font-weight: bold;
    }
  }
  .post-detail-directions-link{
    display: block;
    text-decoration: none;
    border: solid 3px $border;
    text-align: center;
    width: 95%;
    margin: 2.5%  0 0 2.5%;
    font-size: 4em;
    line-height: 1.5em;
    color: lighten(black, 35%);
    background-color: lighten($border,3%);
    @media screen and (min-width: $break-large) {
      width: 73%;
      margin: 2% 0 2% 2%;
      font-size: 3em;
      position: absolute;
      top: 83%;
      left: 23%;
      font-size: 2em;
    }
  }
  .post-detail-time-wrap{
    width: 96%;
    margin: 2% 0 2% 2%;
    font-size: 4em;
    font-weight: normal;
    @media screen and (min-width: $break-large) {
        margin: 2% 0 8% 2%;
        font-size: 2em;
        position: absolute;
        top: 67%;
        left: 23%;
        width: 75%;
    }
    .post-detail-start{
      display: inline-block;
      width: 49%;
      @media screen and (min-width: $break-large) {
          width: 35%;
      }
      span{
        display: block;
        font-weight: bold;
        font-size: .75em;
      }
    }
    .post-detail-end{
      display: inline-block;
      width: 49%;
      span{
        display: block;
        font-weight: bold;
        font-size: .75em;
      }
    }
  }
}

.post-detail-claim-button {
  background-color: $buttonbg;
  color: white;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 50%;
  cursor: pointer;
  z-index: 999;
  @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
  }
  &:hover{
    background-color: darken($buttonbg, 5%);
  }
}

.post-detail-rating {
  text-align: center;
  font-size: 4em;
  color: gray;
  span {
    display: block;
    font-weight: bold;
    font-size: .75em;

  }
}

.post-detail-bottom-button {
  background-color: $buttonaccent2;
  color: white;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 50%;
  cursor: pointer;
  z-index: 999;
  @media screen and (min-width: $break-large) {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em;
  }
  &:hover{
    background-color: darken($buttonaccent2, 5%);
  }
}
