body {
  font-family: 'overpass', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white; }
  body .ng-view {
    width: 100%; }
  body:visited {
    text-decoration: none; }
  body .app-header {
    font-weight: 700;
    height: 5%;
    width: 100%;
    background-color: #00f78c;
    color: white;
    display: block;
    padding: 2% 0;
    font-size: 2em;
    position: fixed;
    top: 0;
    z-index: 1000; }
    body .app-header img {
      padding-left: 2%;
      display: inline-block;
      width: 40px;
      padding-left: 2%; }
    body .app-header .app-header-txt {
      display: inline-block;
      cursor: pointer;
      padding: 0 0 0 1%;
      margin: 1.85% 0 0 0;
      position: absolute; }
    body .app-header .app-header-login-icon {
      float: right;
      margin: -1% 2% 0 0;
      cursor: pointer; }
      body .app-header .app-header-login-icon img {
        width: 40px;
        height: 40px;
        border-radius: 3em; }
  body .edit-profile-subheader {
    background-color: #abffda;
    width: 100vw;
    height: 5%;
    display: block;
    position: fixed;
    top: 7%;
    text-align: center;
    font-size: 5em;
    z-index: 999; }
  body .edit-profile-top-btn-wrap {
    position: fixed;
    top: 12%;
    width: 100%;
    border: solid thin #F4F4F4;
    display: block;
    height: 3%;
    font-size: 2.5em;
    background-color: #fefefe;
    z-index: 999; }
    body .edit-profile-top-btn-wrap .edit-profile-change-email {
      display: inline-block;
      width: 33%;
      height: 100%;
      border-right: solid thin #e7e7e7;
      text-align: center;
      cursor: pointer; }
      body .edit-profile-top-btn-wrap .edit-profile-change-email:hover {
        background-color: #f9f9f9; }
    body .edit-profile-top-btn-wrap .edit-profile-change-password {
      display: inline-block;
      height: 100%;
      width: 33%;
      border-right: solid thin #e7e7e7;
      text-align: center;
      cursor: pointer; }
      body .edit-profile-top-btn-wrap .edit-profile-change-password:hover {
        background-color: #f9f9f9; }
    body .edit-profile-top-btn-wrap .edit-profile-logout-btn {
      display: inline-block;
      height: 100%;
      width: 31%;
      text-align: center;
      cursor: pointer; }
      body .edit-profile-top-btn-wrap .edit-profile-logout-btn:hover {
        background-color: #f9f9f9; }
  body .edit-profile-content-wrapper {
    margin-top: 29%;
    overflow: scroll;
    width: 100%;
    height: 73vh;
    color: #595959; }
    body .edit-profile-content-wrapper .edit-profile-image {
      margin: 2% 0 2% 35%; }
    body .edit-profile-content-wrapper .edit-profile-rating {
      width: 100%;
      text-align: center;
      font-size: 2em; }
      body .edit-profile-content-wrapper .edit-profile-rating .actual-stars {
        font-size: 1.5em;
        color: #595959; }
    body .edit-profile-content-wrapper .edit-profile-add-image {
      border: solid 3px #F4F4F4;
      width: 95%;
      background-color: #fcfcfc;
      color: white;
      color: #595959;
      text-align: center;
      font-size: 3em;
      line-height: 1.5em;
      margin: 2% 0 0 2.5%; }
    body .edit-profile-content-wrapper .edit-profile-first-name {
      margin: 2% 0 2% 2%;
      width: 40vw;
      font-size: 4em;
      border: solid thin #e7e7e7; }
    body .edit-profile-content-wrapper .edit-profile-last-name {
      margin: 2% 0 0 2%;
      width: 40vw;
      font-size: 4em;
      border: solid thin #e7e7e7; }
    body .edit-profile-content-wrapper .edit-profile-organization {
      margin: 2%;
      width: 96vw;
      font-size: 4em;
      border: solid thin #e7e7e7; }
    body .edit-profile-content-wrapper .edit-profile-location {
      margin: 2%;
      width: 96vw;
      font-size: 4em;
      border: solid thin #e7e7e7; }
    body .edit-profile-content-wrapper .edit-profile-description {
      display: block;
      margin: 2%;
      width: 96vw;
      height: 18vh;
      font-size: 4em;
      border: solid thin #e7e7e7; }
  body #file-input-edit-profile {
    display: none; }
  body .edit-profile-footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #71F79F;
    z-index: 999;
    position: fixed;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 200; }
    body .edit-profile-footer:hover {
      background-color: #59f68f; }
  body .edit-profile-upload-verify .fa-check-square-o {
    color: #71F79F;
    font-size: 5em;
    margin-left: 30%;
    display: inline; }
  body .edit-profile-upload-verify div {
    display: inline;
    font-size: 3em; }
  body .sign-up-title {
    margin-top: 10%;
    padding: 2% 0;
    font-size: 5em;
    text-align: center;
    color: white; }
    @media screen and (min-width: 1024px) {
      body .sign-up-title {
        margin-top: 8%;
        font-size: 2.5em;
        font-weight: 600; } }
  body .sign-up-label {
    display: block;
    margin-top: 5%;
    text-align: left;
    font-size: 2em;
    margin: 5% 0 0 10%; }
  body .sign-up-input {
    width: 80%;
    margin: 1% 10% 5% 10%;
    font-size: 4em;
    line-height: 1em;
    padding: 3%;
    box-sizing: border-box;
    border: solid 5px white;
    background: transparent;
    color: white; }
    @media screen and (min-width: 1024px) {
      body .sign-up-input {
        font-size: 1.5em;
        width: 35%;
        margin: 1% 10% 0 33%;
        padding: 1%;
        border: solid 3px black; } }
  body .sign-up-submit-btn {
    margin: 2% 0 2% 10%;
    background-color: #71F79F;
    color: white;
    font-size: 2em;
    cursor: pointer;
    width: 80%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em; }
    @media screen and (min-width: 1024px) {
      body .sign-up-submit-btn {
        display: block;
        margin: 3% 0 0 33.25%;
        width: 34%;
        text-align: center;
        border-radius: 10px;
        font-size: 2em;
        line-height: 1.5em;
        border: 3px solid #59f68f; } }
    body .sign-up-submit-btn:hover {
      background-color: #59f68f; }
  body .sign-up-back-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    background-color: #3DD6D0;
    text-align: center;
    cursor: pointer; }
    @media screen and (min-width: 1024px) {
      body .sign-up-back-btn {
        position: fixed;
        font-size: 2em;
        font-weight: 600;
        line-height: 1.75em; } }
    body .sign-up-back-btn:hover {
      background-color: #2ccec8; }
  body .home-loading-icon {
    margin-top: 15%;
    font-size: 4em; }
    body .home-loading-icon i {
      margin-left: 32%; }
    body .home-loading-icon span {
      display: block;
      text-align: center; }
  body .home-subheader {
    background-color: #abffda;
    width: 100%;
    height: 3.5%;
    color: #00c46f;
    font-size: 3em;
    position: fixed;
    top: 7%;
    z-index: 999; }
    body .home-subheader .home-subheader-see-all {
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      width: 32.5%;
      cursor: pointer; }
      body .home-subheader .home-subheader-see-all:hover {
        background-color: #78ffc4; }
    body .home-subheader .home-subheader-see-claimed {
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      margin: 0 0 0 0;
      width: 32.5%;
      margin: 0 0 0 -1%;
      cursor: pointer; }
      body .home-subheader .home-subheader-see-claimed:hover {
        background-color: #78ffc4; }
    body .home-subheader .home-subheader-see-provided {
      line-height: 1.2em;
      text-align: center;
      display: inline-block;
      width: 32.5%;
      cursor: pointer; }
      body .home-subheader .home-subheader-see-provided:hover {
        background-color: #78ffc4; }
  body .home-content-wrapper {
    width: 100%;
    margin: 19.5% 0 0 0;
    background-color: white;
    height: 83vh;
    position: absolute; }
    body .home-content-wrapper .home-card {
      display: block;
      height: 20vh;
      border: solid 2px #e7e7e7;
      background-color: white;
      width: 100%;
      margin: 2.5% 0; }
      body .home-content-wrapper .home-card .home-header {
        height: 4vh;
        background-color: #f9f9f9;
        font-size: 3em;
        font-weight: 700; }
        body .home-content-wrapper .home-card .home-header .home-post-title {
          padding: 0 0 0 1%;
          width: 50%;
          white-space: nowrap;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis; }
        body .home-content-wrapper .home-card .home-header .home-post-end {
          font-size: .75em;
          float: right;
          display: inline;
          color: #4d4d4d;
          margin: 1% 1% 0 0; }
      body .home-content-wrapper .home-card .home-transaction-details {
        display: inline-block;
        width: 60%;
        font-size: 2.5em;
        padding: 0 0 0 1%; }
        body .home-content-wrapper .home-card .home-transaction-details .home-claimsupply {
          color: #cecece;
          font-size: .75em;
          line-height: 1.5em; }
      body .home-content-wrapper .home-card .home-chat {
        display: inline-block;
        width: 20%;
        height: 16vh;
        position: absolute;
        text-align: center;
        cursor: pointer;
        border-left: solid thin #F4F4F4; }
        body .home-content-wrapper .home-card .home-chat .fa-comment {
          margin: 15% 0 0 0;
          color: #b1bbc5;
          font-size: 6em;
          display: block; }
        body .home-content-wrapper .home-card .home-chat .home-chat-text {
          font-size: .5em;
          font-family: 'overpass', sans-serif; }
      body .home-content-wrapper .home-card .home-details {
        display: inline-block;
        width: 20%;
        height: 16vh;
        position: absolute;
        margin-left: 20%;
        text-align: center;
        cursor: pointer;
        border-left: solid thin #F4F4F4; }
        body .home-content-wrapper .home-card .home-details:hover {
          background-color: white; }
        body .home-content-wrapper .home-card .home-details .fa-info-circle {
          margin: 15% 0 0 0;
          color: #b1bbc5;
          font-size: 6em;
          display: block; }
          body .home-content-wrapper .home-card .home-details .fa-info-circle .home-details-text {
            font-size: .5em;
            font-family: 'overpass', sans-serif; }
  body .home-search {
    position: fixed;
    bottom: 0;
    right: 50%;
    display: inline-block;
    width: 50%;
    background-color: #71F79F;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    z-index: 999; }
    body .home-search:hover {
      background-color: #59f68f; }
  body .home-post {
    position: fixed;
    bottom: 0;
    left: 50%;
    display: inline-block;
    width: 50%;
    background-color: #3DD6D0;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    z-index: 999; }
    body .home-post:hover {
      background-color: #2ccec8; }
  body .post-detail-title {
    font-size: 4em;
    font-weight: 700;
    margin: 5% 0;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 4.3%;
    background-color: #abffda;
    height: 5%;
    z-index: 999;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  body .post-detail-content-wrapper {
    width: 100%;
    position: absolute;
    top: 12.5%;
    height: 82vh; }
    body .post-detail-content-wrapper .post-detail-supplier-wrap {
      margin: 2% 0;
      width: 100%;
      display: block;
      font-size: 5em; }
      body .post-detail-content-wrapper .post-detail-supplier-wrap .post-detail-supplier-name {
        width: 47%;
        display: inline-block;
        margin: 0 0 0 2%; }
        body .post-detail-content-wrapper .post-detail-supplier-wrap .post-detail-supplier-name span {
          font-weight: bold;
          font-size: .75em;
          display: block; }
      body .post-detail-content-wrapper .post-detail-supplier-wrap .post-detail-org {
        width: 49%;
        display: inline-block; }
        body .post-detail-content-wrapper .post-detail-supplier-wrap .post-detail-org span {
          font-weight: bold;
          font-size: .75em;
          display: block; }
    body .post-detail-content-wrapper .post-detail-details {
      width: 96%;
      display: block;
      font-size: 4em;
      margin: 2% 0 2% 2%; }
      body .post-detail-content-wrapper .post-detail-details span {
        display: block;
        font-weight: bold;
        font-size: .75em; }
    body .post-detail-content-wrapper .post-detail-images {
      display: block;
      width: 100%; }
      body .post-detail-content-wrapper .post-detail-images .post-detail-img {
        height: 450px;
        width: 450px;
        display: inline-block;
        margin: 0 2%; }
      body .post-detail-content-wrapper .post-detail-images #post-detail-map {
        height: 450px;
        width: 450px;
        display: inline-block; }
    body .post-detail-content-wrapper .post-detail-location {
      display: block;
      width: 96%;
      margin: 2% 0 2% 2%;
      font-size: 4em;
      font-weight: normal; }
      body .post-detail-content-wrapper .post-detail-location span {
        display: block;
        font-size: .75em;
        font-weight: bold; }
    body .post-detail-content-wrapper .post-detail-directions-link {
      display: block;
      text-decoration: none;
      border: solid 3px #F4F4F4;
      text-align: center;
      width: 95%;
      margin: 2.5%  0 0 2.5%;
      font-size: 4em;
      line-height: 1.5em;
      color: #595959;
      background-color: #fcfcfc; }
    body .post-detail-content-wrapper .post-detail-time-wrap {
      width: 96%;
      margin: 2% 0 2% 2%;
      font-size: 4em;
      font-weight: normal; }
      body .post-detail-content-wrapper .post-detail-time-wrap .post-detail-start {
        display: inline-block;
        width: 49%; }
        body .post-detail-content-wrapper .post-detail-time-wrap .post-detail-start span {
          display: block;
          font-weight: bold;
          font-size: .75em; }
      body .post-detail-content-wrapper .post-detail-time-wrap .post-detail-end {
        display: inline-block;
        width: 49%; }
        body .post-detail-content-wrapper .post-detail-time-wrap .post-detail-end span {
          display: block;
          font-weight: bold;
          font-size: .75em; }
  body .post-detail-claim-button {
    background-color: #3DD6D0;
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 50%;
    cursor: pointer;
    z-index: 999; }
    body .post-detail-claim-button:hover {
      background-color: #2ccec8; }
  body .post-detail-rating {
    text-align: center;
    font-size: 4em;
    color: gray; }
    body .post-detail-rating span {
      display: block;
      font-weight: bold;
      font-size: .75em; }
  body .post-detail-bottom-button {
    background-color: #71F79F;
    color: white;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 300;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 50%;
    cursor: pointer;
    z-index: 999; }
    body .post-detail-bottom-button:hover {
      background-color: #59f68f; }
  body #search-results-subheader {
    position: fixed;
    margin: 12% 0 0 0;
    z-index: 999;
    background-color: #abffda;
    width: 100%;
    z-index: 999; }
    body #search-results-subheader #search-results-search {
      margin: 2% 0 0 2%;
      width: 95%;
      font-size: 2em; }
    body #search-results-subheader #search-results-subheader-text {
      font-size: 2em;
      margin: 2% 0 0 2%;
      padding: 0 0 2% 0;
      line-height: 2em; }
      body #search-results-subheader #search-results-subheader-text #search-results-distance-input {
        width: 7%;
        font-size: 1em;
        border: none; }
      body #search-results-subheader #search-results-subheader-text #search-results-subheader-search-button {
        display: inline-block;
        float: right;
        line-height: 1em;
        margin: 0 2% 2% 0;
        background-color: #67dfda;
        padding: 1.5%;
        color: white;
        cursor: pointer; }
        body #search-results-subheader #search-results-subheader-text #search-results-subheader-search-button:hover {
          background-color: #52dad5; }
  body .search-results-content-wrapper {
    margin: 29.5% 0 0 0;
    position: absolute;
    width: 100%;
    border: solid thin black;
    height: 78vh;
    overflow: scroll; }
    body .search-results-content-wrapper .search-results-loading-icon {
      margin-top: 15%;
      font-size: 4em; }
      body .search-results-content-wrapper .search-results-loading-icon i {
        margin-left: 32%; }
      body .search-results-content-wrapper .search-results-loading-icon span {
        display: block;
        text-align: center; }
    body .search-results-content-wrapper .results-card {
      display: block;
      height: 20vh;
      border: solid 2px #e7e7e7;
      background-color: white;
      width: 99.8%;
      margin: 2.5% 0; }
      body .search-results-content-wrapper .results-card .results-header {
        height: 4vh;
        background-color: #f9f9f9;
        font-size: 3em;
        font-weight: 700;
        width: 100%; }
        body .search-results-content-wrapper .results-card .results-header .results-card-title {
          padding: 1% 0 0 1%;
          width: 59%;
          white-space: nowrap;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis; }
        body .search-results-content-wrapper .results-card .results-header .results-card-end {
          font-size: .75em;
          float: right;
          display: inline-block;
          padding: 1.5% 1% 0 0; }
      body .search-results-content-wrapper .results-card .results-pic-wrap {
        position: absolute;
        width: 20%;
        margin: 2% 0 0 0; }
        body .search-results-content-wrapper .results-card .results-pic-wrap .results-add-picture {
          width: 95%;
          height: 200px; }
      body .search-results-content-wrapper .results-card .results-transaction-details {
        margin: 0 0 0 20%;
        display: inline-block;
        width: 55%;
        height: 16vh;
        font-size: 2em;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis; }
        body .search-results-content-wrapper .results-card .results-transaction-details .results-supplier-name-text {
          line-height: 1.5em;
          font-weight: 700; }
        body .search-results-content-wrapper .results-card .results-transaction-details .results-transaction-location {
          line-height: 1.2em;
          font-weight: 500; }
      body .search-results-content-wrapper .results-card .results-details {
        display: inline-block;
        position: absolute;
        width: 25%;
        height: 16vh;
        text-align: center;
        color: white;
        cursor: pointer;
        border-left: solid thin #F4F4F4; }
        body .search-results-content-wrapper .results-card .results-details:hover {
          background-color: #fcfcfc; }
        body .search-results-content-wrapper .results-card .results-details .fa-info-circle {
          font-size: 6em;
          margin: 20% 0 0 0;
          color: #b1bbc5; }
          body .search-results-content-wrapper .results-card .results-details .fa-info-circle .search-details-text {
            display: block;
            font-family: 'overpass', sans-serif;
            font-size: .5em; }
  body .results-footer {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 300;
    z-index: 999; }
    body .results-footer:hover {
      background-color: #59f68f; }
  body .landing-overlay-content {
    margin-top: -2%;
    padding: 25% 0 30% 0;
    z-index: 999;
    background: url("/assets/images/landing_background.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  body .landing-login-email-input {
    width: 90%;
    border: solid 5px white;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1em;
    margin: 5% 5%;
    padding: 3%;
    background: transparent;
    color: white; }
  body .landing-login-password-input {
    width: 90%;
    border: solid 5px white;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1em;
    margin: 5% 5% 8% 5%;
    padding: 3%;
    background: transparent;
    color: white; }
  body .landing-login-btn {
    width: 90%;
    font-size: 2em;
    text-align: center;
    margin: 2% 5%;
    padding: 2%;
    background-color: rgba(113, 247, 159, 0.85);
    color: white;
    cursor: pointer;
    box-sizing: border-box; }
    body .landing-login-btn:hover {
      background-color: rgba(89, 246, 143, 0.75); }
  body .landing-signup-btn {
    width: 90%;
    font-size: 2em;
    text-align: center;
    margin: 10% 5% 15% 5%;
    padding: 2%;
    background-color: rgba(61, 214, 208, 0.85);
    color: white;
    cursor: pointer;
    box-sizing: border-box; }
    body .landing-signup-btn:hover {
      background-color: #2ccec8; }
  body .login-about {
    margin: 0 1%;
    background-color: transparent;
    width: 90%;
    padding: 0 1%;
    color: white;
    font-family: "Overpass", sans-serif;
    text-align: center;
    font-size: 2em;
    line-height: 1.2em; }
  body .login-legal {
    margin: 50px 2.5%;
    width: 90%;
    padding: 2% 2%;
    color: white;
    font-family: 'overpass', sans-serif;
    text-align: center;
    text-decoration: none; }
  body .profile-public-info {
    width: 100%;
    position: absolute; }
    body .profile-public-info .profile-pub-picture {
      width: 100%; }
    body .profile-public-info .profile-pub-name .profile-pub-firstname {
      display: inline-block;
      font-size: 4em;
      margin: 2% 4% 2% 0; }
    body .profile-public-info .profile-pub-name .profile-pub-lastname {
      display: inline-block;
      font-size: 4em;
      margin: 2% 0 2% 4%; }
    body .profile-public-info .profile-pub-data .profile-pub-org {
      width: 95%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin: 2% 0 0 2.5%; }
    body .profile-public-info .profile-pub-data .profile-pub-location {
      width: 95%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin: 2% 0 2% 2.5%; }
    body .profile-public-info .profile-pub-about {
      width: 95%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin: 2% 0 0 2.5%; }
  body .profile-pub-footer .profile-pub-home {
    display: inline-block;
    width: 50%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    background-color: #71F79F;
    cursor: pointer;
    font-weight: 200; }
    body .profile-pub-footer .profile-pub-home:hover {
      background-color: #59f68f; }
  body .profile-pub-footer .profile-pub-back {
    display: inline-block;
    margin-left: 50%;
    width: 50%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.3em;
    color: white;
    background-color: #67dfda;
    cursor: pointer;
    font-weight: 200; }
    body .profile-pub-footer .profile-pub-back:hover {
      background-color: #2ccec8; }
  @media screen and (min-width: 1024px) {
    body .profile-public-info {
      top: 10%;
      padding-left: 12%; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-picture {
      width: 35%;
      height: 250px;
      padding: 0 20%;
      margin: 2% 0 0 0;
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-name {
      width: 35%;
      padding: 0 20%;
      margin: 2% 0 0 0;
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-name .profile-pub-firstname {
      font-size: 2em; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-name .profile-pub-lastname {
      font-size: 2em; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-data {
      width: 35%;
      padding: 0 20%;
      margin: 2% 0 0 0;
      text-align: center; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-data .profile-pub-org {
      font-size: 1.5em; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-data .profile-pub-location {
      font-size: 1.5em; } }
  @media screen and (min-width: 1024px) {
    body .profile-public-info .profile-pub-about {
      width: 57%;
      padding: 1% 5%;
      margin: 2% 0 8% 5%;
      font-size: 1.25em; } }
  @media screen and (min-width: 1024px) {
    body .profile-pub-footer .profile-pub-home {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em; } }
  @media screen and (min-width: 1024px) {
    body .profile-pub-footer .profile-pub-back {
      font-size: 2em;
      font-weight: 600;
      line-height: 1.75em; } }
  body .create-subheader {
    width: 100%;
    font-size: 4em;
    text-align: center;
    background-color: #abffda;
    line-height: 1.5em;
    margin-top: 11%;
    z-index: 999;
    position: fixed; }
  body .create-content-wrapper {
    width: 100%;
    top: 13%;
    height: 81vh;
    position: absolute;
    border: solid thin black; }
    body .create-content-wrapper .create-post-add-pic {
      border: solid 3px #F4F4F4;
      text-align: center;
      width: 95%;
      margin: 4%  0 2%  2.5%;
      font-size: 4em;
      color: #595959;
      background-color: #fcfcfc;
      line-height: 1.2em; }
      body .create-content-wrapper .create-post-add-pic .fa-camera-retro {
        display: block;
        color: #8c8c8c;
        margin: 2% 0;
        font-size: 2em; }
    body .create-content-wrapper .create-upload-verify .fa-check-square-o {
      color: #71F79F;
      font-size: 5em;
      margin-left: 30%;
      display: inline; }
    body .create-content-wrapper .create-upload-verify div {
      display: inline;
      font-size: 3em; }
    body .create-content-wrapper #file-input {
      display: none; }
    body .create-content-wrapper .create-title {
      background-color: white;
      width: 95%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin: 2% 0 0 2.5%;
      color: black; }
    body .create-content-wrapper .create-location {
      background-color: white;
      width: 95%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin: 2% 0 2% 2.5%;
      color: black; }
    body .create-content-wrapper .create-start-na {
      display: inline-block;
      background-color: white;
      width: 40%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin: 2% 2% 2% 2%;
      color: black; }
    body .create-content-wrapper .create-start-time-na {
      display: inline-block;
      background-color: white;
      width: 40%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin-top: 2%;
      color: black; }
    body .create-content-wrapper .create-end-na {
      display: inline-block;
      margin: 2% 2% 2% 2%;
      background-color: white;
      width: 40%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      color: black; }
    body .create-content-wrapper .create-end-time-na {
      display: inline-block;
      background-color: white;
      width: 40%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin-top: 2%;
      color: black; }
    body .create-content-wrapper .create-description {
      display: block;
      height: 40vh;
      background-color: white;
      width: 95%;
      border: solid 2px #F4F4F4;
      font-size: 4em;
      margin: 2% 0 0 2.5%;
      color: black;
      z-index: 1; }
  body .create-submit-button {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    z-index: 999; }
    body .create-submit-button:hover {
      background-color: #59f68f; }
  body .create-submit-button {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    z-index: 999; }
    body .create-submit-button:hover {
      background-color: #59f68f; }
  body .edit-post-subheader {
    width: 100%;
    font-size: 4em;
    text-align: center;
    background-color: #abffda;
    line-height: 1.5em;
    margin-top: 12%;
    position: fixed;
    color: black;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  body .edit-post-content-wrapper {
    margin-top: 22%;
    overflow: scroll;
    height: 81vh;
    position: absolute; }
    body .edit-post-content-wrapper .edit-post-image {
      height: 450px;
      width: 450px;
      margin: 2% 0 0 28%; }
  body #file-input-edit-post {
    display: none; }
  body .edit-post-add-image {
    border: solid 3px #F4F4F4;
    text-align: center;
    width: 95%;
    margin: 1%  0 2%  2.5%;
    font-size: 4em;
    color: #595959;
    background-color: #fcfcfc;
    line-height: 1.2em; }
  body .edit-post-title {
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 4em;
    margin: 2% 0 0 2.5%;
    color: black; }
  body .edit-post-location {
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    font-size: 1em;
    margin: 2% 0 2% 2.5%;
    color: black;
    font-size: 4em; }
  body .edit-post-start-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 4em;
    margin: 1%;
    color: black; }
  body .edit-post-start-time-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 4em;
    margin-top: 2%;
    color: black; }
  body .edit-post-end-na {
    display: inline-block;
    margin: 1%;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 4em;
    margin-top: 2%;
    color: black; }
  body .edit-post-end-time-na {
    display: inline-block;
    background-color: white;
    width: 40%;
    border: solid 2px #F4F4F4;
    font-size: 4em;
    margin-top: 2%;
    color: black; }
  body .edit-post-description {
    display: block;
    height: 25vh;
    background-color: white;
    width: 95%;
    border: solid 2px #F4F4F4;
    margin: 2% 0 0 2.5%;
    color: black;
    font-size: 4em; }
  body .edit-post-btn {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 200;
    z-index: 999; }
    body .edit-post-btn:hover {
      background-color: #59f68f; }
  body .created-post-title {
    width: 100%;
    font-size: 5em;
    line-height: 1.5em;
    color: black;
    text-align: center;
    background-color: #abffda;
    position: fixed;
    margin: 12% 0 0 0;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  body .created-content-wrapper {
    margin-top: 24%;
    overflow: scroll;
    position: absolute;
    width: 100%;
    height: 80vh; }
    body .created-content-wrapper .created-post-description {
      width: 60%;
      font-size: 4em;
      margin: 2% 0 0 2.5%;
      color: black;
      display: block; }
      body .created-content-wrapper .created-post-description span {
        font-size: .75em;
        font-weight: 700;
        display: block; }
    body .created-content-wrapper .created-post-images {
      display: block;
      margin: 2% 0; }
      body .created-content-wrapper .created-post-images .created-post-photo {
        display: inline-block;
        height: 450px;
        width: 450px;
        margin: 0 1% 0 2%; }
      body .created-content-wrapper .created-post-images #created-post-gmap {
        width: 450px;
        height: 450px;
        display: inline-block;
        margin: 0 1%; }
    body .created-content-wrapper .created-post-address {
      display: block;
      width: 96%;
      margin: 2% 0 0 2%;
      font-size: 4em; }
      body .created-content-wrapper .created-post-address span {
        font-weight: 700;
        font-size: .75em;
        display: block; }
    body .created-content-wrapper .created-buttons-wrap {
      width: 100%;
      height: 15%;
      border: solid thin #c1c1c1;
      display: block;
      color: #a8a8a8; }
      body .created-content-wrapper .created-buttons-wrap .created-add-cal {
        display: inline-block;
        width: 33%;
        text-align: center;
        border-right: solid thin #c1c1c1;
        height: 100%;
        font-size: 2.5em; }
        body .created-content-wrapper .created-buttons-wrap .created-add-cal .fa-calendar-plus-o {
          margin: 5% 0 4% 0;
          display: block;
          font-size: 2.5em; }
      body .created-content-wrapper .created-buttons-wrap .created-post-chat {
        display: inline-block;
        width: 33%;
        text-align: center;
        border-right: solid thin #c1c1c1;
        height: 100%;
        font-size: 2.5em; }
        body .created-content-wrapper .created-buttons-wrap .created-post-chat .fa-comment {
          margin: 5% 0 4% 0;
          display: block;
          font-size: 2.5em; }
      body .created-content-wrapper .created-buttons-wrap .created-post-directions-btn {
        color: #a8a8a8;
        display: inline-block;
        width: 33%;
        text-align: center;
        height: 100%;
        text-decoration: none;
        font-size: 2.5em; }
        body .created-content-wrapper .created-buttons-wrap .created-post-directions-btn .fa-google {
          margin: 5% 0 4% 0;
          display: block;
          font-size: 2.5em; }
    body .created-content-wrapper .created-post-time-wrap {
      width: 96%;
      margin: 2% 0 0 2%;
      display: block; }
      body .created-content-wrapper .created-post-time-wrap .created-post-start {
        font-size: 4em;
        display: inline-block;
        width: 48%; }
        body .created-content-wrapper .created-post-time-wrap .created-post-start span {
          font-size: .75em;
          display: block;
          font-weight: bold; }
      body .created-content-wrapper .created-post-time-wrap .created-post-end {
        font-size: 4em;
        display: inline-block;
        width: 48%; }
        body .created-content-wrapper .created-post-time-wrap .created-post-end span {
          font-size: .75em;
          display: block;
          font-weight: bold; }
    body .created-content-wrapper .created-post-claimed-info {
      display: block;
      font-size: 2em;
      font-weight: bold;
      width: 100%;
      text-align: center;
      margin: 2% 0 0 0; }
    body .created-content-wrapper .created-post-complete-button {
      border: solid 3px #F4F4F4;
      text-align: center;
      width: 95%;
      margin: 1%  0 0 2.5%;
      font-size: 4em;
      color: #595959;
      background-color: #fcfcfc; }
  body .created-post-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
    body .created-post-modal .created-post-modal-content {
      position: fixed;
      height: 35%;
      width: 60%;
      margin: 50% 0 0 20%;
      background-color: white;
      text-align: center; }
      body .created-post-modal .created-post-modal-content h1 {
        margin-top: 5%;
        font-size: 4em; }
      body .created-post-modal .created-post-modal-content .created-stars {
        font-size: 6em;
        margin: 10% 0 5% 0;
        color: black; }
      body .created-post-modal .created-post-modal-content .created-post-review-input {
        margin: 5% 20% 15% 20%;
        width: 60%;
        border: solid thin #c1c1c1; }
      body .created-post-modal .created-post-modal-content .created-post-button-wrap {
        font-size: 4em;
        width: 100%;
        display: block;
        margin-top: 15%; }
        body .created-post-modal .created-post-modal-content .created-post-button-wrap .created-post-review-submit {
          display: inline;
          padding: 2px 5px;
          border: solid thin #c1c1c1;
          box-sizing: border-box;
          background-color: #3DD6D0;
          color: white;
          cursor: pointer; }
        body .created-post-modal .created-post-modal-content .created-post-button-wrap .created-post-review-cancel {
          display: inline;
          padding: 2px 5px;
          border: solid thin #c1c1c1;
          box-sizing: border-box;
          background-color: #f06e00;
          color: white;
          cursor: pointer; }
  body .created-post-footer-home {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 300;
    z-index: 999; }
    body .created-post-footer-home:hover {
      background-color: #59f68f; }
  body .created-post-footer-edit {
    background-color: #3DD6D0;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    margin-left: 33.33%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    z-index: 999;
    font-weight: 300; }
    body .created-post-footer-edit:hover {
      background-color: #2ccec8; }
  body .created-post-footer-delete {
    background-color: #71F79F;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    margin-left: 66.33%;
    text-align: center;
    font-size: 4em;
    line-height: 1.5em;
    color: white;
    cursor: pointer;
    font-weight: 300;
    z-index: 999; }
    body .created-post-footer-delete:hover {
      background-color: #59f68f; }
  body .chat-subheader {
    background-color: #78ffc4;
    font-size: 4em;
    line-height: 1.5em;
    position: fixed;
    top: 7%;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    body .chat-subheader .chat-other-user-text {
      font-weight: 700; }
  body .chat-content-wrapper {
    margin: 25% 0 0 0;
    height: 73vh;
    overflow: scroll; }
    body .chat-content-wrapper .chat-other-user-response {
      width: 65%;
      display: block;
      font-size: 3em;
      line-height: 1.2em;
      background-color: white;
      border-radius: 0 .3em .3em .3em;
      margin: 2%;
      padding: 2% 1%;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
    body .chat-content-wrapper .chat-current-user-response {
      margin: 2% 0 2% 30%;
      width: 65%;
      display: block;
      font-size: 3em;
      line-height: 1.2em;
      background-color: white;
      padding: 2% 1%;
      border-radius: .3em .3em 0 .3em;
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2); }
  body .chat-input-block {
    margin: 1% 0 1% 0;
    position: absolute;
    bottom: 7%;
    width: 100%;
    border-top: #a8a8a8;
    display: block; }
    body .chat-input-block .chat-input {
      width: 80%;
      font-size: 3em;
      line-height: 1.7em;
      margin: 0 0 0 2%;
      border: solid 2px #3DD6D0;
      border-right: solid 2px transparent;
      border-radius: 5px; }
    body .chat-input-block .fa-paper-plane-o {
      display: inline-block;
      font-size: 3.5em;
      padding: 2%;
      color: white;
      background-color: #3DD6D0;
      border-radius: 5px; }
      body .chat-input-block .fa-paper-plane-o:hover {
        color: #3DD6D0;
        background-color: white;
        border: solid 2px #3DD6D0; }
  body .chat-home-btn {
    display: block;
    background-color: #71F79F;
    font-size: 4em;
    line-height: 1.5em;
    text-align: center;
    color: white;
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: pointer;
    font-weight: 300; }
    body .chat-home-btn:hover {
      background-color: #59f68f; }
  body .chat-back-to-post-btn {
    display: inline-block;
    background-color: #3DD6D0;
    font-size: 4em;
    line-height: 1.5em;
    text-align: center;
    color: white;
    width: 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    font-weight: 300; }
    body .chat-back-to-post-btn:hover {
      background-color: #2ccec8; }

.claimed-title {
  font-size: 5em;
  margin: 12.5% 0 0 0;
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #abffda;
  z-index: 9999999;
  height: 5%; }

.claimed-content-wrapper {
  margin-top: 21.5%;
  height: 82vh;
  overflow: scroll;
  position: absolute;
  width: 100%; }
  .claimed-content-wrapper .claimed-supplier-name-wrap {
    width: 100%;
    font-size: 4em;
    margin: 2% 0 0 0; }
    .claimed-content-wrapper .claimed-supplier-name-wrap .claimed-supplier-name {
      display: inline-block;
      width: 49%;
      padding: 0 0 0 2%; }
      .claimed-content-wrapper .claimed-supplier-name-wrap .claimed-supplier-name span {
        font-size: .75em;
        font-weight: 700;
        display: block; }
    .claimed-content-wrapper .claimed-supplier-name-wrap .claimed-supplier-org {
      display: inline-block;
      width: 46%; }
      .claimed-content-wrapper .claimed-supplier-name-wrap .claimed-supplier-org span {
        font-size: .75em;
        font-weight: 700;
        display: block; }
  .claimed-content-wrapper .claimed-images {
    margin: 2% 0 0 0;
    width: 100%;
    display: block; }
    .claimed-content-wrapper .claimed-images #claimed-map {
      width: 450px;
      height: 450px;
      margin: 2% 0 2% 2%;
      display: inline-block; }
    .claimed-content-wrapper .claimed-images .claimed-post-photo {
      width: 450px;
      height: 450px;
      margin: 2% 0 2% 2%;
      display: inline-block; }
  .claimed-content-wrapper .claimed-buttons-wrap {
    width: 100%;
    display: block;
    height: 15%;
    border: solid thin #c1c1c1;
    color: #a8a8a8;
    margin: 3% 0 0 0; }
    .claimed-content-wrapper .claimed-buttons-wrap .claimed-calendar {
      display: inline-block;
      width: 33%;
      height: 100%;
      text-align: center;
      border-right: solid thin #c1c1c1;
      height: 100%;
      font-size: 2.5em; }
      .claimed-content-wrapper .claimed-buttons-wrap .claimed-calendar .fa-calendar-plus-o {
        margin: 5% 0 4% 0;
        display: block;
        font-size: 2.5em; }
    .claimed-content-wrapper .claimed-buttons-wrap .claimed-chat {
      display: inline-block;
      width: 33%;
      height: 100%;
      text-align: center;
      border-right: solid thin #c1c1c1;
      height: 100%;
      font-size: 2.5em; }
      .claimed-content-wrapper .claimed-buttons-wrap .claimed-chat .fa-comment {
        margin: 5% 0 4% 0;
        display: block;
        font-size: 2.5em; }
    .claimed-content-wrapper .claimed-buttons-wrap .claimed-directions {
      color: #a8a8a8;
      display: inline-block;
      width: 33%;
      height: 100%;
      text-align: center;
      height: 100%;
      text-decoration: none;
      font-size: 2.5em; }
      .claimed-content-wrapper .claimed-buttons-wrap .claimed-directions .fa-google {
        margin: 5% 0 4% 0;
        display: block;
        font-size: 2.5em; }
  .claimed-content-wrapper .claimed-time-wrap {
    display: block;
    width: 96%;
    font-size: 4em;
    margin: 2% 0 0 2%; }
    .claimed-content-wrapper .claimed-time-wrap .claimed-start {
      width: 49%;
      display: inline-block; }
      .claimed-content-wrapper .claimed-time-wrap .claimed-start span {
        display: block;
        font-weight: 700;
        font-size: .75em; }
    .claimed-content-wrapper .claimed-time-wrap .claimed-end {
      width: 49%;
      display: inline-block; }
      .claimed-content-wrapper .claimed-time-wrap .claimed-end span {
        display: block;
        font-weight: 700;
        font-size: .75em; }
  .claimed-content-wrapper .claimed-location {
    width: 95%;
    font-size: 4em;
    margin: 2% 0 0 2%;
    display: block; }
    .claimed-content-wrapper .claimed-location span {
      display: block;
      font-size: .75em;
      font-weight: 700; }
  .claimed-content-wrapper .claimed-details {
    font-size: 4em;
    margin: 2% 0 0 2%;
    display: block; }
    .claimed-content-wrapper .claimed-details span {
      display: block;
      font-size: .5em;
      font-weight: 700; }

.claimed-bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  text-align: center;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 300;
  color: white;
  cursor: pointer;
  background-color: #3DD6D0;
  cursor: pointer; }
  .claimed-bottom-button:hover {
    background-color: #2ccec8; }

.claimed-remove-button {
  position: fixed;
  bottom: 0;
  width: 50%;
  left: 50%;
  text-align: center;
  font-size: 4em;
  line-height: 1.5em;
  font-weight: 300;
  color: white;
  cursor: pointer;
  background-color: #71F79F;
  cursor: pointer; }
  .claimed-remove-button:hover {
    background-color: #59f68f; }

.no-mobile-overlay-content {
  margin-top: -2%;
  padding: 5% 0 5% 0;
  z-index: 999;
  background: url("/assets/images/landing_background.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

.no-mobile-about {
  margin: 5% 2.5% 1% 2.5%;
  background-color: transparent;
  width: 90%;
  padding: 2% 2%;
  color: white;
  font-family: "Overpass", sans-serif;
  text-align: center;
  font-size: 4.2em;
  line-height: 1.5em;
  font-weight: 300; }

.no-mobile {
  font-family: "overpass", sans-serif;
  font-size: 3em;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white; }

.mobile-phone {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%; }

/*# sourceMappingURL=styles.css.map */
